.comment-bubble {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.comment-message {
    margin-bottom: 10px;
}

.comment-info {
    font-size: 12px;
    color: #999;
}

.comment-username {
    font-weight: bold;
}

.comment-date {
    position: absolute;
    top: 10px;
    right: 10px;
}